/* variabili */
.bg-nav{
    background-color: #2C3E50!important;
}
.text-color-white{
    color: white!important;
}

/* ******************* */

@media screen and (min-width:800px) {
    
    .px-lg-6 {
        padding-right: 9rem !important;
        padding-left: 9rem !important
    }
}