header{
    background-color: aquamarine;
    width: 100%;

}
header .container{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    width: 60%;

}
.nav-container{
    width: 80%;
    
}